<form class="form-inline mt-2 mt-md-0" method="post" action="search">
    <input class="form-control mr-sm-2" type="text" placeholder="Please give the name" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
